html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    position: relative;
    z-index:100;
  }

.homepage-background{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
    z-index: -100;
}

.logo{
    margin-right: auto;
    margin-left: auto;
    padding-top: 5%;
    width: 20%;
    height: auto;
    display:block;
}

.clearfloat{
    clear:both;
}

.homepage-main{
    margin-top:3%;
    color: white;
    font-weight: bold;
    text-align: center;
}

